<div class="comitee">
  <h2>Scientific Comitee</h2>
  <table>
  <tr>
    <td class="name"><a href="#">Adrien Coulet</a></td>
    <td class="organization">Inria</td>
  </tr>
  <tr>
    <td class="name"><a href="https://amansinha09.github.io/">Aman Sinha</a></td>
    <td class="organization">ATILF, Université de Lorraine</td>
  </tr>
  <tr>
    <td class="name"><a href="https://perso.limsi.fr/neveol/">Aurélie Névéol</a></td>
    <td class="organization">LISN, Université Paris-Saclay</td>
  </tr>
  <tr>
    <td class="name"><a href="#">Benoît Favre</a></td>
    <td class="organization">LIS-Lab</td>
  </tr>
  <tr>
    <td class="name"><a href="#">Cyril Grouin</a></td>
    <td class="organization">LISN, Université Paris-Saclay</td>
  </tr>
  <tr>
    <td class="name"><a href="https://pagesperso.ls2n.fr/~morin-e/index.htm">Emmanuel Morin</a></td>
    <td class="organization">LS2N, Nantes Université</td>
  </tr>
  <tr>
    <td class="name"><a href="#">Fleur Mougin</a></td>
    <td class="organization">Université de Bordeaux</td>
  </tr>
  <tr>
    <td class="name"><a href="#">Ioana Buhnila</a></td>
    <td class="organization">Chosun University</td>
  </tr>
  <tr>
    <td class="name"><a href="#">Irina Illina</a></td>
    <td class="organization">LORIA, Université de Lorraine</td>
  </tr>
  <tr>
    <td class="name"><a href="https://fr.linkedin.com/in/laura-zanella">Laura Zanella</a></td>
    <td class="organization">Doctolib</td>
  </tr>
  <tr>
    <td class="name"><a href="#">Lina Soualmia</a></td>
    <td class="organization">LITIS</td>
  </tr>
  <tr>
    <td class="name"><a href="#">Natalia Grabar</a></td>
    <td class="organization">Université de Lille</td>
  </tr>
  <tr>
    <td class="name"><a href="https://perso.lisn.upsaclay.fr/pz/">Pierre Zweigenbaum</a></td>
    <td class="organization">LISN, Université Paris-Saclay</td>
  </tr>
  <tr>
    <td class="name"><a href="https://cv.hal.science/richard-dufour/">Richard Dufour</a></td>
    <td class="organization">LS2N, Nantes Université</td>
  </tr>
  <tr>
    <td class="name"><a href="#">Salam Abbara</a></td>
    <td class="organization">CESP / Institut Pasteur</td>
  </tr>
  <tr>
    <td class="name"><a href="#">Salomé Klein</a></td>
    <td class="organization">Université de Strasbourg</td>
  </tr>
  <tr>
    <td class="name"><a href="#">Solen Quiniou</a></td>
    <td class="organization">LS2N, Nantes Université</td>
  </tr>
  <tr>
    <td class="name"><a href="https://www.linkedin.com/in/yanis-labrak-8a7412145/">Yanis Labrak</a></td>
    <td class="organization">Idiap Research Institute</td>
  </tr>
  </table>
</div>