<div class="organizers">
  <h2>Organizers</h2>
  <table>
  <tr>
    <td class="name"><a href="https://cv.hal.science/richard-dufour/">Richard Dufour</a></td>
    <td class="organization">LS2N, Nantes Université</td>
  </tr>
  <tr>
    <td class="name"><a href="https://www.linkedin.com/in/yanis-labrak-8a7412145/">Yanis Labrak</a></td>
    <td class="organization">IDIAP</td>
  </tr>
  <tr>
    <td class="name"><a href="https://pagesperso.ls2n.fr/~morin-e/index.htm">Emmanuel Morin</a></td>
    <td class="organization">LS2N, Nantes Université</td>
  </tr>
  <tr>
    <td class="name"><a href="https://perso.limsi.fr/neveol/">Aurélie Névéol</a></td>
    <td class="organization">LISN, Université Paris-Saclay</td>
  </tr>
  <tr>
    <td class="name"><a href="https://amansinha09.github.io/">Aman Sinhar</a></td>
    <td class="organization">ATILF, Université de Lorraine</td>
  </tr>
  <tr>
    <td class="name"><a href="https://fr.linkedin.com/in/laura-zanella">Laura Zanella</a></td>
    <td class="organization">Doctolib</td>
  </tr>
  <tr>
    <td class="name"><a href="https://perso.lisn.upsaclay.fr/pz/">Pierre Zweigenbaum</a></td>
    <td class="organization">LISN, Université Paris-Saclay</td>
  </tr>
  </table>
</div>
